<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>AutoresController</display-name>
    <servlet-name>AutoresController</servlet-name>
    <servlet-class>com.unu.proyectoWeb.controllers.AutoresController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoresController</servlet-name>
    <url-pattern>/AutoresController</url-pattern>
  </servlet-mapping>
  <display-name>proyectoWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EditorialController</display-name>
    <servlet-name>EditorialController</servlet-name>
    <servlet-class>com.unu.proyectoWeb.controllers.EditorialController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditorialController</servlet-name>
    <url-pattern>/EditorialController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ASASASAS</display-name>
    <servlet-name>ASASASAS</servlet-name>
    <servlet-class>com.unu.proyectoWeb.controllers.ASASASAS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ASASASAS</servlet-name>
    <url-pattern>/ASASASAS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibroController</display-name>
    <servlet-name>LibroController</servlet-name>
    <servlet-class>com.unu.proyectoWeb.controllers.LibroController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibroController</servlet-name>
    <url-pattern>/LibroController</url-pattern>
  </servlet-mapping>
</web-app>